{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fa fa-wrench" aria-hidden="true"></i> ToolShare</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div>
  </div>
</nav>

	<div id="createshed_container" class="container col-md-4 col-md-offset-4">
		<div class="msg">
			{{ msg }}
		</div>
		<div class="errormsg">
			{{ error }}
		</div>
		<div class="heading">
			<h1>
				Create Community Shed
			</h1>
		</div>
		
		<form action="{% url 'CreateCommunityShed' user.id%}" method="post" name="CreateShedForm">
		{% csrf_token %}
			<table class="table table-bordered table-hover">
            {% for field in form %}
            <tr class="warning">
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
            {% endfor %}
        </table>
		<div id="toolreg_button">
         <button class="btn btn-info" type="submit" value="Create">Create</button>
		 <a href="{% url 'registrationSuccess' %}" class="btn btn-default">Skip</a></div>
         </form>
      </div>
   </div>
<script>
	$("form[name='CreateShedForm']").validate({
        rules: {
        address_line1: {required: true, maxlength: 100},
        state:{required: true, maxlength: 30},
        city:{required: true ,maxlength: 100},
    },
    messages: {
        address_line1:{required:"Please enter your Address Line1", maxlength: "Your Address line1 must consist of maximum 100 characters"},
        state: {required:"Please enter your State", maxlength: "Your State must consist of maximum 30 characters"},
        city:{required:"Please enter your City", maxlength: "Your City must consist of maximum 100 characters"},
    }
    })
</script>
{% endblock %}

